@media (width > 480px) {
    .header_content {
        padding-left: 3rem;
    }
    .header_content h1 {
        font-size: 4rem;
        line-height: 5rem;
    }
    .header_content h3 {
        font-size: 3rem;
    }
    .header_btn .btn2, .contact_btns .btn2 {
        margin-left: 10px;
    }
    .service_grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* .contact_container {
        display: flex;
        width: 100%;
        justify-content: center;
    } */
}

@media (width > 700px) {

    /* .video-container {
        height: 80%;
    } */
    .header_content {
        margin: 0;
    }

    .header_content h1 {
        padding: 0;
        font-size: 5rem;
        line-height: 6rem;
    }

    .logo img {
        max-width: 200px;
    }

    nav {
        padding: 2rem 1rem;
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
    }

    .nav_bar {
        padding: 0;
        background-color: transparent;
    }

    .nav_menu_btn {
        display: none;
    }

    .nav_links {
        padding: 0;
        width: unset;
        position: static;
        transform: none;
        flex-direction: row;
        background-color: transparent;
    }
    .footer_logo {
        margin-bottom: 1rem;
        width: 200px;
    }

}

@media (width > 730px) {

    .experience_container {
        flex-direction: row;
    }
    .experience_content {
        max-width: 50%; /* Adjust the width as needed */
        padding: 20px;
        box-sizing: border-box; /* Ensures padding doesn't affect width */
    }
    
    .experience_image {
        max-width: 50%; /* Adjust the width as needed */
        padding: 20px;
        box-sizing: border-box; /* Ensures padding doesn't affect width */
    }

    .service_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
