@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #da042a;
    --primary-color-dark: #c00427;
    --secondary-color: #15151f;
    --secondary-color-dark: #0a0b0f;
    --text-light: #6b7280;
    --extra-light: #f8f7fd;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html, body {
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
}

.section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_subheader {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
}

.section_header {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--secondary-color-dark);
}

.section_description {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.btn {
    padding: .75rem 1.5rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-color);
}


.logo img {
    max-width: 150px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-image: linear-gradient(rgba(16, 15, 15, 0.893), rgba(0, 0, 0, 0.766)), url("../images/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(25%);
    /* opacity: 1; Optional: adjust opacity to your preference */
}

nav {
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    z-index: 9;
    background: rgba(0, 0, 0);
}

.nav_bar {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav_menu_btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links {
    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: rgb(0, 0, 0);
    transform: translateY(-300%);
    transition: 0s;
}

.nav_links.open {
    transform: translateY(0);
}

.nav_links a {
    color: var(--white);
    transition: 0.3s;
}

.nav_links a:hover {
    color: var(--primary-color);
}

.header_btn .btn {
    margin-top: 20px;
}

.header_content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.header_content h1 {
    padding-top: 8rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    color: var(--white);
}

.header_content h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--primary-color);
    /* animation: effect 3s linear infinite; */
}
/* 
@keyframes effect {
    0% {
        color: var(--primary-color-dark);
    }
    50% {
        color: #f88e8e;
    }
    100% {
        color: var(--primary-color-dark);
    }
} */

.experience_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.experience_content {
    max-width: 800px; /* Adjust this value as needed */
    padding: 20px;
}

.experience_image {
    max-width: 800px; /* Adjust this value as needed */
    padding: 20px;
}

.experience_image img {
    width: 100%;
    height: auto;
}
.service {
    background-color: var(--extra-light);
}

.service_container {
    text-align: center;
}

.service_grid {
    margin-top: 4rem;
    display: grid;
    gap: 4rem 2rem;
}

.service_card img {
    max-width: 150px;
    height: 150px;
    margin-inline: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(158, 25, 25, 0.71);
}

.service_card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-color-dark);
}

.service_card p {
    color: 
    var(--text-light);
}

.service_card a {
    color: var(--primary-color);
}

.service_card a:hover {
    color: var(--secondary-color-dark);
}

.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.929), rgba(0, 0, 0, 0.905)), url("../images/bg2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

/* .contact {
    position: relative;
    overflow: hidden;
}

.cta-media {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cta-media video,
.cta-media #fallbackImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    position: absolute;
    top: 0;
    left: 0;
}

.section_container.contact_container {
    position: relative;
    z-index: 1;
    padding: 2rem;
} */

.contact_container {
    text-align: center;
}

.contact_container :is(.section_header, .section_description ) {
    color: var(--white);
}

.section_description a {
    color: var(--primary-color);
}

.section_description a:hover {
    color: var(--text-light);
}

.contact_btns {
    /* display: flex;
    align-items: center;
    gap: 1rem; */
    margin-top: 20px;
}
.contact_btns .btn2 {
    margin-top: 10px;
}

.footer {
    background-color: rgb(0, 0, 0);
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer .section_description {
    color: var(--white);
    font-size: 1rem;
}

.footer_logo {
    margin-bottom: 1rem;
    width: 150px;
}

.footer_bar {
    padding: 1rem;
    font-size: 0.8rem;
    background-color: rgb(0, 0, 0);
    color: var(--white);
    text-align: center;
}

.footer_bar span {
    color: var(--primary-color);
}
